<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WellCare</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- SweetAlert2 Library -->
</head>

<body>

    {% if messages %}
    <script>
        {% for message in messages %}
        Swal.fire({
            title: "{% if message.tags == 'success' %}Success!{% elif message.tags == 'error' %}Error!{% else %}Notice{% endif %}",
            text: "{{ message|escapejs }}",
            icon: "{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% else %}info{% endif %}",
            showConfirmButton: true,
            timer: 4000, // Auto-close after 3 seconds
            timerProgressBar: true,
        }).then(() => {
            window.location.href = "{% url 'register' %}"; // Redirect to the register page
        });
        {% endfor %}
    </script>

    {% endif %}

</body>

</html>